@font-face {
  font-family: "GameFont";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/game_font.woff2") format("woff2"), url("./fonts/game_font.woff") format("woff"),
    url("./fonts/game_font.ttf") format("truetype");
}

$font_size: 16px;
$color: #bbbbbb;
$bg_color: #222222;
$transition_time: 300ms;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $bg_color;
  color: $color;
  display: flex;
  flex-direction: column;
  font-family: "GameFont", monospace;
  font-size: $font_size;
  justify-content: center;
  letter-spacing: 1;
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
}

main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

#canvas {
  background-color: $bg_color;
  border-radius: 5px;
  image-rendering: pixelated;
}

#loading {
  align-items: center;
  background-color: $bg_color;
  display: flex;
  flex-direction: column;
  gap: $font_size;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity $transition_time;
  visibility: visible;
  width: 100%;

  &.hiding,
  &.showing {
    opacity: 0;
  }

  &.hidden {
    display: none;
    visibility: hidden;
  }

  p {
    span {
      display: inline-block;
      opacity: 0;
      width: 4px;

      &:nth-child(1) {
        animation: on-off-1 1s ease 0s infinite;
      }

      &:nth-child(2) {
        animation: on-off-2 1s ease 0s infinite;
      }

      &:nth-child(3) {
        animation: on-off-3 1s ease 0s infinite;
      }
    }
  }

  .progress-bar {
    border: 1px solid $color;
    height: 6px;
    position: relative;
    width: 320px;

    #progress {
      background-color: $color;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: width $transition_time ease;
      width: 0%;
    }
  }
}

@keyframes on-off-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes on-off-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes on-off-3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
