@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "GameFont";
  src: url("./assets/fonts/game_font.woff2") format("woff2"), url("./assets/fonts/game_font.woff") format("woff"),
    url("./assets/fonts/game_font.ttf") format("truetype");
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #222222;
  color: #bbbbbb;
  display: flex;
  flex-direction: column;
  font-family: "GameFont", monospace;
  font-size: 16px;
  gap: 16px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

main > section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(33 * 16px);
  min-width: calc(45 * 16px);
  position: relative;
}

main > p {
  font-family: monospace;
  font-size: 8px;
  text-align: center;
  width: 100%;
}

#canvas {
  background-color: #222222;
  border-radius: 5px;
  image-rendering: pixelated;
}

#fatal-error {
  border: #ff5555 2px solid;
  color: #ff5555;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  padding: 16px;
  width: 100%;
}

#loading {
  align-items: center;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 300ms;
  visibility: visible;
  width: 100%;
}

#loading.hiding,
#loading.showing {
  opacity: 0;
}

#loading.hidden {
  display: none;
  visibility: hidden;
}

#loading p span {
  display: inline-block;
  margin: 0 2px;
  opacity: 0;
  width: 4px;
}
#loading p span:nth-child(1) {
  animation: on-off-1 1s linear 0s infinite;
}
#loading p span:nth-child(2) {
  animation: on-off-2 1s linear 0s infinite;
}
#loading p span:nth-child(3) {
  animation: on-off-3 1s linear 0s infinite;
}

#loading .progress-bar {
  border: 1px solid #bbbbbb;
  height: 6px;
  position: relative;
  width: 320px;
}

#progress {
  background-color: #bbbbbb;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 300ms ease;
  width: 0%;
}

#restart {
  color: #bbbbbb;
  cursor: pointer;
}

#warning {
  animation: slide-down 300ms linear 0s 1 forwards;
  border-bottom: #ff5555 2px solid;
  color: #ff5555;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
#warning.hide {
  animation: slide-up 300ms linear 0s 1 forwards;
}

#warning p {
  font-size: 8px;
  max-width: 90%;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slid-up {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes on-off-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes on-off-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes on-off-3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
